* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url(images/jingyesi.jpg);
  background-repeat: no-repeat;

}
h1 {
  color: tomato;
  background-color: lightblue;
  text-align: center;
}
p {
  color: purple;
  text-align: center;
}
